
{% load static %}
    <link rel="stylesheet" href="{% static 'app_name/css/main.css' %}">


<head>
{% load static %}
<script src="{% static 'app_name/js/main.js' %}"></script>
</head>

{% for dir in dirs %}
  {% if dir.parent_directory == super %}
    <tr><th><pre style="color: #282828;">{{ indent }}{{ dir.name }}</pre></th></tr><br>
    {% include 'app_name/includes/recursive_display.html' with super=dir indent=indent|add:"   " %}
  {% endif %}
{% endfor %}
{% for file in files %}
  {% if file.parent_directory == super %}
    <tr><th><a href="" onclick="get_file('{{file.pk}}')"><pre>{{ indent }}{{ file.name }}</pre></a></th></tr>
  {% endif %}
{% endfor %}
