:root {
    /* --lightmode-darkblue: rgb(83, 102, 150); */
    --lightmode-darkblue: rgb(126, 138, 169);
    /* --lightmode-lightblue: rgb(126, 138, 169); */
    --lightmode-lightblue: rgb(157, 165, 187);

    --darkmode-darkblue: rgb(71, 87, 130);
    --darkmode-lightblue: rgb(95, 108, 140);

    --my-white-base: rgb(213, 213, 213);
    --my-black-base: rgb(17, 17, 17);

    --base-background: var(--lightmode-darkblue);
    --light-extra:  var(--lightmode-lightblue);
    --white-base: var(--my-white-base);
    --text-color: black;
}

.CodeMirror {
    width: 100%;
    height: 100%;
    background-color: var(--white-base);
    color: var(--text-color);
    resize: none;
}

.register-form {
    background-color: var(--light-extra);
}

.form-title {
    margin-left: 50px;
    margin-top: 50px;
}

.form-field {
    margin: 0px;
    margin-left: 50px;
    width: 150px;
    padding: 0px;
}

.form-label {
    margin: 0px;
    margin-left: 50px;
    padding: 0px;
}
.form-label-2 {
    margin: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.titlec {
    color: var(--text-color);
}

body {
    margin: 0;
    background-color: var(--base-background);
    font-size: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    background-color: antiquewhite;
}

a:link {
    color: var(--text-color);
    text-decoration: none;
}
a:visited {
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    color:var(--text-color);
    text-decoration: none;
}
th {
    text-align: left;
    padding: 4px;
    background-color: var(--light-extra);
    color: var(--text-color);
}

.menu-bar {
    height: 7vh;
    background-color: var(--base-background);
}

.higher-menu-bar {
    height: 20%;
    background-color: var(--base-background);
    color: var(--text-color);
    text-align: center;
    padding-top: 1vh;
}

.lower-menu-bar {
    height: 80%;
    background-color:var(--base-background);
}

.main-content-box {
    height: 93vh;
    display: flex;
}

.col-box {
    background-color: var(--base-background);
    height: 72%;
    display: flex;
    overflow: hidden;
}

.column-left {
    width: 20%;
    height: 100%;
    background-color:var(--base-background);
    overflow: hidden;
    padding-right: 1vw;
}

[class*="left-content"] {
    text-align: left;
    padding-left: 5px;
    padding-right: 0;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.left-content2, .left-content4 {
    background-color: var(--light-extra);
}

.column-left-content {
    height: 100%;
    text-align: center;
    width: 100%;
}

.column-main {
    width: 80%;
    height: 100%;
    background-color: var(--base-background);
}

.inner-column-main {
    width: 60%;
    overflow: hidden;
    padding-right: 1vw;
}

.inner-column-right {
    width: 40%;
    padding-right: 1vw;
}

.bottom-tabs {
    height: 28%;
}

.bottom-tabs-menu {
    padding-top: 1%;
    height: 13%;
    display: flex;
    border:rgb(33, 33, 33);
}

.bottom-tabs-content {
    height: 75%;
    background-color:var(--white-base);
    color: var(--text-color);
    /* overflow: scroll; */
}

.tab-inside {
    display: none;
}

.tab-inside.visible {
    display: block;
}

.tb1.highlight, .tb2.highlight, .tb3.highlight {
    background-color: var(--light-extra);
}

.tab-button {
    background-color: var(--base-background);
    font-size: 80%;
    float:left;
    border:none;
    vertical-align:middle;
    overflow: hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
}

.run-button {
    font-size: 80%;
    margin: 0px;
    float:left;
    width: 10em;
    height: 2em;
    background-color: var(--light-extra);
    border: none;
    vertical-align:middle;
    overflow: hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
}

.tab-button:hover {
    background-color: var(--light-extra);
}

.run-button:hover {
    background-color: var(--white-base);
}

.tab-button:focus {
    outline: none;
}

.menu-button {
    background-color: var(--base-background);
    font-size: 100%;
    min-width: 3em;
    border:none;
    vertical-align:middle;
    overflow: hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
}

.mode-button {
    float: right;
}

.menu-button:hover {
    background-color: var(--white-base);
    color: var(--text-color);
}

.menu-button:focus {
    outline: none;
}

#right-iframe-dsc {
    height: 5%;
    background-color: var(--light-extra);
    color: var(--text-color);
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    font-size: small;
    justify-content: center;
}

#bottom-textarea {
    width: 100%;
    resize: none;
    height: 100%;
    overflow: scroll;
    background-color: var(--white-base);
    color: var(--text-color);
}

#textarea1 {
    width: 100%;
    height: 97vh;
    background-color: var(--white-base);
    color: var(--text-color);
    resize: none;
    overflow: scroll;
    outline: 0;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

#textarea2 {
    background-color: var(--white-base);
    color: var(--text-color);
    outline: 0;
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    resize:none;
    white-space: nowrap;
}

#tab1 {
    padding-left: 10px;
    height: 100%;
}

#tab2 {
    background-color: var(--white-base);
    height: 100%;
}

#tab3 {
    height: 100%;
    overflow: hidden;
}

.input-number {
    width: 30px;
}


/* COLLAPSIBLE CONTENT */

  .accordion-label {
    cursor: pointer;
    display: block;
      user-select: none;
      color: #fff;
  }
  
  .accordion_container {
    background: var(--white-base);
    padding: 10px;
    border-bottom: 1px solid #fff;
    max-width: 720px;
    margin: 0 auto;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    background-size: 260px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
  }
  
  .accordion-control {
    display: none;
  }
  .accordion-control + label {
    position: relative;
    height: 40px;
    margin-left: 20px;
    padding-left: 5px;
    display: block;
    font-size: 1em;
    line-height: 1em;
    z-index: 0;
  }
  .accordion-control + label:before, .accordion-control + label:after {
    content: "";
    position: absolute;
  }
  .accordion-control + label:before {
    left: -19px;
    top: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent var(--text-color);;
    transition: all 0.2s ease-in;
  }
  .accordion-control + label:after {
    content: attr(data-label-closed);
    padding-left: 0px;
  }
  .accordion-control:checked + label {
    cursor: pointer;
  }
  .accordion-control:checked + label:before {
    transform: rotate(90deg);
  }
  .accordion-control:checked + label:after {
    content: attr(data-label-open);
  }
  .accordion-control:checked + label + .accordion-content {
    max-height: 350px;
  }
  .accordion-control[type=radio] + label:before, .accordion-control[type=radio] + label:after {
    content: "";
  }
  .accordion-control[type=radio]:checked + label {
    cursor: default;
  }
  .accordion-control[type=radio]:checked + label:before {
    border-left-color: #999;
  }
  
  fieldset {
    border: none;
    padding: 0;
  }

@media screen and (max-width: 768px) {

    div.menu-bar {
        height: 7vh;
    }

    div.higher-menu-bar {
        height: 3vh;
        width: 100%;
    }

    div.lower-menu-bar {
        height: 3vh;
        width: 100%;
    }

    div.main-content-box {
        display: block;
        height: 93vh;
    }

    div.column-left {
        height: 18vh;
        width: 100%;
        display: flex;
        font-size: small;
        overflow: hidden;
        padding: 0;
    }

    [class*="left-content"] {
        padding-right: 0px;
        justify-content: center;
    }

    div.col-box {
        display: block;
        height: 60vh;
    }

    div.column-main {
        display: block;
        height: 75vh;
        width: 98vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    div.inner-column-main {
        width: 100%;
        height: 35vh;
        padding: 0;
        padding-top: 1vh;
    }

    div.inner-column-right {
        width: 100%;
        height: 25vh;
        padding: 0;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }

    div.right-iframe-dsc {
        display: none;
    }

    div.bottom-tabs {
        height: 15vh;
    }

    div.bottom-tabs-content {
        height: 11vh;
        margin-bottom: 1vh;
    }

    div.bottom-tabs-menu {
        height: 3vh;
    }

    div.column-left-content {
        display: flex;
        overflow: hidden;
    }

    div.column-left-settings {
        padding-left: 5px;
        padding-right: 1vw;
        overflow: scroll;
        width: 50%;
    }

    div.table-class {
        width: 50%;
        overflow: scroll;
    }
}