<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FramaC</title>
    {% load static %}
    <script src="{% static 'app_name/js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app_name/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body style = "font-family: 'Noto Sans', sans-serif;">
    <H2 class='form-title'>Create a directory:</H2>
    <form action="" method="POST">
        {% csrf_token %}
        <p class='form-label'>Name:</p>
        <input class='form-field' type="text" name="fname"/><br/>
        <p class='form-label'>Location:</p>
        <select class='form-field' name="fpdir">
        <option value="/"> --home directory-- </option>
        {% include "app_name/includes/select_dir.html" %}
        </select><br/>
        <p class='form-label'>Description:</p>
        <textarea class='form-label' cols="35" rows="8" name="fdesc"></textarea><br/><br>
        <input class="w3-button w3-black form-label" type="submit" value="CREATE"/>
    </form>

</body>

</html>