<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_name/css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'app_name/js/main.js' %}"></script>
    <script src="{% static 'app_name/codemirror/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app_name/codemirror/lib/codemirror.css' %}">
    <script src="{% static 'app_name/codemirror/mode/javascript/javascript.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title class="titlec">FramaC</title>
</head>

<body style = "font-family: 'Noto Sans', sans-serif;">

{% block javascript %}
    <script type="text/javascript">
    $(document).ready(function setCollapsible(file_content) {
        showTab(1);
        $.ajax({
            type: 'GET',
            data: '',
            url: `/get_collapsible`,
            dataType: 'text',
            success: function(data){
                var response = JSON.parse(data);
                document.getElementById('textarea2').innerHTML = response.file[0];
                var editor = CodeMirror.fromTextArea(document.getElementById('textarea1'), {
                    lineNumbers: true,
                    matchBrackets: true
                });
                $('#textarea1').data('CodeMirrorInstance', editor);
                editor.getDoc().setValue(response.file[1]);
            }
        });
    })

    $(document).ready(function () {
        $('#prover-form').submit(function () {
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'choose_prover' %}",
                success: function (response) {
                    document.getElementById("alt-ergo").checked = false;
                    document.getElementById("z3").checked = false;
                    document.getElementById("cvc4").checked = false;
                    document.getElementById("prover-dsc").innerHTML = 'Chosen prover: ' + response['prover']
                }
            });
            return false;
        });
    })

    $(document).ready(function () {
        $('#guard-form').submit(function () {
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'choose_guard' %}",
                success: function (response) {}
            });
            return false;
        });
    })
    </script>
{% endblock javascript %}

    <div class="menu-bar p1">
    
    <div class="higher-menu-bar">
        <b>Frama-C</b>
    </div>

    <div class="lower-menu-bar">
        <button class="menu-button titlec"><a href="add_file">Add file</a></button>
        <button class="menu-button titlec"><a href="add_dir">Add directory</a></button>
        <button class="menu-button titlec"><a href="del_file">Delete file</a></button>
        <button class="menu-button titlec"><a href="del_dir">Delete directory</a></button>
        <button class="menu-button titlec"><a href="" onclick="run_prover()">RUN/RERUN</a></button>
        <button onclick="setLight()" class="menu-button mode-button titlec"><a href="{% url 'logout' %}">Log Out ({{user.username}})</a></button>
        <button onclick="setLight()" class="menu-button mode-button titlec">LIGHT</button>
        <button onclick="setDark()" class="menu-button mode-button titlec">DARK</button>
    </div>
    
    </div>

    <div class="main-content-box p1">
        <div class="column-left">
            <div class="column-left-content">
                <div class="table-class">
                  <table>
                  {% csrf_token %}
                  {% include "app_name/includes/recursive_display.html" with super=None indent='' %}
                  </table>
                </div>
                <br><br>
            </div>
        </div>

        <div class="column-main">
            <div class="col-box">
                <div class="inner-column-main">
                    <textarea id="textarea1"></textarea>
                </div>
                <div class="inner-column-right">
                  <div id="right-iframe-dsc">
                    {{file_name}} output:
                  </div>
                    <div id="textarea2"></div>
                </div>
            </div>

            <div class="bottom-tabs">
            
            <div class="bottom-tabs-menu">
                <button onclick="showTab(1)" id="tb1" class="tab-button tb1 titlec">PROVERS</button>
                <button onclick="showTab(2)" id="tb2" class="tab-button tb2 titlec">VCs</button>
                <button onclick="showTab(3)" id="tb3" class="tab-button tb3 titlec">RESULT</button>
            </div>
        
            <div class="bottom-tabs-content">

            <div id="tab1" class="tab-inside" style="padding-top: 10px;">
            <form id="prover-form" method="POST">
                {% csrf_token %}
                <input type="radio" name="prover" id="alt-ergo" value="alt-ergo">Alt-Ergo
                <input type="radio" name="prover" id="z3" value="z3">Z3
                <input type="radio" name="prover" id="cvc4" value="cvc4">CVC4<br><br>
                <input type="submit" class='w3-button w3-white' name="prover-submit" value='Submit'/>
            </form>
            <p id="prover-dsc">Chosen prover: alt-ergo</p><br>
            </div>

            <div id="tab2" class="tab-inside" style="background-color: var(--white-base);padding-left: 10px;padding-top: 10px;">
            <form id="guard-form" method="POST">
                {% csrf_token %}
                Insert chosen guard: (Example: "-@invariant")<br>wp-prop=<input type="text" name="vcs"><br><br>
                <input type="submit" class='w3-button w3-white' value="Submit"/>
            </form>
            <br>
            
            </div>

            <div id="tab3" class="tab-inside">
                <div id="bottom-textarea" placeholder=""></div>
            </div>

            </div>
            </div>
        </div>
    </div>
</body>

</html>