<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_name/css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'app_name/js/main.js' %}"></script>
    <script src="{% static 'app_name/codemirror/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app_name/codemirror/lib/codemirror.css' %}">
    <script src="{% static 'app_name/codemirror/mode/javascript/javascript.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title class="titlec">FramaC</title>
</head>
<body style = "font-family: 'Noto Sans', sans-serif;">
<h1 class='form-title'>Create account</h1>
<form class='form-label-2' method="post" >
    {% csrf_token %}
    <table class="register-form">
    {{ form.as_table }}
        <tr>
        <td></td>
        <td><input class="w3-button w3-black" type="submit" name="submit" value="REGISTER" /></td>
    </tr>
    </table>
</form>
</body>